#news2_wrap{

    .news2_wrap_item{
      margin:40px 15px 80px 15px;
      position: relative;
      // display: flex;
      // flex-direction: column;
      
    }
  
    .news2_item{
      display: flex;
      height:162px;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 15px;
      background-color:#f0f0f0 ;
      // position: relative;
  
    }
  
    .news2_zoom{
      width:262px;
      height: 162px;
      overflow: hidden;
      border-radius: 15px 0 0 15px;   
      // position: relative; 
    }
  
    .news2_center{
      width:150px;
    }
  
    .news2_main{
      width:70%;
  
    }
  
    .news2_img{
      display:block;
      width:100%;
      height:100%;
      background-image: url(../img/index/bg-38.png);
      background-position:center ;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
  
  
    .img2{
      background-image: url(../img/index/bg-39.png);
    }
  
    .img3{
      background-image: url(../img/index/bg-40.png);
    }
    
    .news2_img:hover{
      transform: scale(1.1);
      transition: transform 0.5s;
      position: relative;
    }
    
    .news2_img:hover::after{
      content: "";
      background-color: rgba(0,0,0,.1);
      width:100%;
      height:100%;
      display: block;
      position:absolute;
      top:0;
      left:0;
    }
  
    .news2_center{
      text-align: center;
      padding-top: 25px;
      border-left: 10px solid $color1;
  
      a{
        text-decoration: none;
        background-color:$color1;
        color:$color4;
        border-radius: 5px;
        font-weight: 600;
        padding: 5px 14px;
        font-size: 15px;
        
        // position: relative;
        // top: 20px;
      }
  
      p{
        padding-top: 85px;
        font-size: 15px;
        color: #848484;
      }
  
      a:hover{
        opacity: 0.5;
      }
      
    }
      .news2_center_btn1{
        background-color:$color2 !important;
      }
      .news2_center_btn2{
        background-color:$color3 !important;
      }
  
    .news2_main{
      position: relative;
    //   // padding-top: 25px;
    //   height: 100%;
  
      a{
        display: block;
        font-size: 22px;
        text-decoration: none;
        color:#000;
        font-weight: bold;
        letter-spacing: 0.097rem;
        padding-right: 30px;
        padding-top: 20px;
      }
  
      p{
        letter-spacing: 0.075rem;
        overflow: hidden;
        line-height: 1.2rem;
        font-size: 15px;
        height: 35px;
        position: absolute;
        padding-right: 30px;
        bottom: 21px;
      }
    }
  
    }
  
    .all_news{
      font-size: 24px;
      font-weight: 700;
      color:$color1;
      text-align: right;
      position: relative;
      padding-top: 20px;
      margin: 30px 0;
      margin-right: 60px;
      letter-spacing: 0.06rem;
  
      span{
        display: inline-block;
      }
  
  }
  
  .all_news:hover span{
    display: inline-block;
    position: relative;
    left: 10px;
  }
  
  .all_news::before{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 100' style='enable-background:new 0 0 480 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M480,0c-35.1,0-76.8,5.8-123.9,22.2C258.6,56.3,187.9,100,103,100C51.7,100,28.3,77.1,0,77.1V0H480z'/%3E%3C/svg%3E%0A");
      display: block;
      background-repeat: no-repeat;
      width:100%;
      position: absolute;
      height: 100px;
      left: 0;
      top: 50px;
  
  }
  
  .all_news::after{
      content: "";
      display: inline-block;
      background-image: url(../img/new_bottom.png);
      width:431px;
      background-repeat: no-repeat;
      height: 100px;
      position: absolute;
      right: -60px;
      background-position: 0 center;
      z-index: -1;
      bottom: -40px;
      
  }
  
  
  
    @media (max-width:992px){
      
      .news2_item{
        flex-direction: column;
        height:100% !important;
        // width: 80px !important;
      }
  
      .news2_main,.news2_zoom,.news2_center{
        width: 100% !important;
      }
      .news2_zoom{
        border-radius: 15px 15px 0 0 !important;
        height:330px !important;
        //需另設高度
  
      }
      .news2_img{
        height: 100% !important;
      }
  
      .news2_center{
        text-align: left !important;
        border-left:0px !important;
        border-top: 10px solid $color1;
  
        a{
          margin-left:20px;
        }
  
        p{
          margin-right: 16px;
          padding-top:0px !important;
          float:right;
        }
      }
        .news2_main{
          padding: 0 10px 80px 20px;
        }
  
        .all_news::before{
          width:0;
        }
  
    //   .news2_img{
    //     width:100%;
    //     height:100%;
    }