
@import "_normalize";
@import "_recet";

.container{
    width: 100%;
    max-width: 1280px; //可調整/看設計師給的
    margin: 0 auto;
  }
  




::selection{
    background-color: #D01A48;
    color: #ffffff;
}