@import "_var";
@import "_normalize";
@import "_recet";
@import "_nav";
@import"_form";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

//header

#header{ //如果沒有寫height:100vh其 header外層要+width:100%
    width:100%;
    height:100vh;
    background-image:url(https://img.youtube.com/vi/tIA_vrBDC1g/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;//給遮罩做定位
    z-index:1;
    color:white;
    //遮罩
    &::before{
        content: "";
        background: linear-gradient(0deg,transparent 0,#000 100%);//漸層.線性
        width:100%;
        height:50%;
        opacity: 0.55;
        //寬高會滿版
        display: block;
        position:absolute;
        //before.after為行內元素要改成塊及元素
        //定位absolute跳出結構
        z-index:-1;
         //父層設z-index:1 子層設z-index:-1才可以使背景覆蓋上遮罩且文字不被遮住
        }

    &::after{
        content: "";
        background-color: rgba(0,0,0,.3);
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        top:0;
        left:0;
        z-index:-2;
        //z-index不可設0，不然會使文字無法拖曳
    }    


    .header-wrap{

      .header_bottom{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 796.63 239.98'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d01a48;opacity:.9%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E1%3C/title%3E%3Cpath class='cls-1' d='M476.82 205c-57-11-94.63-45-190.63-101C58.57-28.78-84.93-48-319.82-28.54V205h796.64z' transform='translate%28319.82 34.98%29'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left bottom;
        width:100%;
        height: 240px;
        position: absolute;
        bottom: 0;
        padding-left: 30px;
        
        .header_main{
          font-size: 40px;
          letter-spacing: 2px;
          position: relative;
          bottom: 90px;

          a.player{
            display: inline-block;
            background-image: url(../img/play.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width:60px;
            height: 60px;
            position: relative;
            top: 20px;
            left: -10px;
            max-width: 100%;
          }
        }

        .header_p{
          width: 25%;
          line-height: 27px;
          font-size: 15px;
          /* position: absolute; */
          letter-spacing: 0.1rem;
          margin-top: -20px;

        }

      .buttom_about{
        margin-top: 20px;}

      a.about{
        display: block;
        text-decoration: none;
        color:$color4;
        // margin-top: 30px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        width: 110px;
        line-height: 34px;

       &:hover{
        background-color:$color4 ;
        color: $color1;

       } 
    }
      
    
      }


    }




     }


     
    ::selection{
        color: $color1;
        background-color: $color2;
    }

    @media (max-width:992px){

      .header_bottom{
      background-size: cover;
      padding-left: 15px !important;
      padding-top: 2vw;
      z-index: -1;

      .header_main{
        font-size: 6vw !important;}
      .header_p{
        width: 63% !important;
        }

      a{
        position: absolute;
        left: 15px;} 

      }
  

    }

 //main- card_wrap 服務項目   
#card_wrap{

  margin-top:80px;
  margin-bottom: 70px;
  //差灰色背景

  .card{
    width:100%;

    .card_serive{
      text-align:right;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 100'%3E%3Cstyle%3E.st0%7Bfill:%23d01a48%7D%3C/style%3E%3Cpath class='st0' d='M0 100c35.1 0 76.8-5.8 123.9-22.2C221.4 43.7 292.1 0 377 0c51.3 0 74.6 22.9 103 22.9V100H0z'/%3E%3C/svg%3E");
      height: 100px;
      background-repeat: no-repeat;
      background-position: 100%;
      position:relative;    
      top:1px;
      right:30px}

    .serive{
      font-size: 1.8rem;
      letter-spacing: 0.3rem;
      position: absolute;
      right: -30px;
      bottom: 0px;
      background-color: $color1;
      padding-top: 48px;
      padding-right: 30px;
      color:aliceblue;
      font-weight: bold;
    }



  }

  .card_item{
    display: flex;
    padding: 30px 15px;
    background-color: $color1;
    justify-content: space-between;
  }

  .item_left,.item_right{
    width:48%;
    border-radius: 15px;
  
  }

  .item_left{
    background-color: $color2;
    position: relative;
  }
  .item_right{
    background-color: $color3;
    position: relative;

  }

  .item_zoom{
    width:100%;
    height:330px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;




  }

  .image_left{
    background-image: url(../img/index/bg-33.png);
    background-position: 50%;
    background-size: cover;
    width:100%;
    height: 100%;
    display: block;
  
  }

  .image_right{
    background-image: url(../img/index/bg-32.png);
    background-position: 50%;
    background-size: cover;
    width:100%;
    height: 100%;
    display: block;

  }

  .two_image:hover{
    transform: scale(1.1);
    transition: transform .5s;
    position: relative;

  }

  .two_image:hover::after{
    content: "";
    background-color: rgba(0,0,0,.1);
    width:100%;
    height:100%;
    display: block;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
  }

  .two_wrap{
    padding: 20px 0 20px 0;
  }

  .two_icon{
    float: left;
    width:150px;
    height:150px;
    margin:0 20px;
    
  }
  .image_left_icon{
    background-image: url(../img/index/obj1.png);


  }
  .image_right_icon{
    background-image:url(../img/index/obj2.png)

  }  

  .two_text{
    margin:20px 0 30px 0;
    padding-right: 30px;
  }

  .main_name{
    color: $color4;
    text-decoration: none;
    font-size:30px;
    font-weight:bold;
    letter-spacing: 0.3rem;
  }

  .text_name{
    color:$color4;
    font-size:0.94rem;    
    line-height: 27px;
    overflow: hidden;
    padding-top: 10px;

  }

  //before z-index沒有反應
  // .two_more{
  //   text-decoration: none;
  //   display: block;

  //   text-align: right;
  //   z-index:2;
  // }

  // .two_more::before{
  //   content: "";
  //   background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 219.7 56.7' style='enable-background:new 0 0 219.7 56.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,56.7h219.7V0.1C134.2-1.5,68.3,22.9,0,56.7z'/%3E%3C/svg%3E%0A");
  //   display: block;
  //   width: 231px;
  //   height: 61px;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   z-index: 3;

  // }

  .two_more{
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 219.7 56.7' style='enable-background:new 0 0 219.7 56.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,56.7h219.7V0.1C134.2-1.5,68.3,22.9,0,56.7z'/%3E%3C/svg%3E%0A");
    display: block;
    width: 231px;
    height: 61px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    text-decoration: none;
    padding-top: 30px;
    padding-right: 10px;
    border-radius: 0 0 15px 0;
    font-weight: 700;
    font-size: 0.95rem;

  }

  .two_more:hover span{
    display: inline-block;
    position: relative;
    left: 10px;
  }
  //如何hover過去圖片

  // .two_more:hover .two_image{

  // }

  .two_more_left{
    color:$color2;
  }

  .two_more_right{
    color:$color3;
  }

}    

//media-card
@media (max-width:992px){

  .card_item{
  flex-direction: column;}
  
  .item_left{
    width:100% !important;
    margin-bottom: 20px;
  }

  .item_right{
    width:100% !important;
  }


}

//main- -最新消息

#news_wrap{

.news{
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color:aliceblue;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
  padding: 0 0 10px 15px;
}
.news::after{
  content: "";
  display: inline-block;
  background-image: url(../img/bg3.svg);
  width:100%;
  background-repeat: no-repeat;
  padding: 40px 50%;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -1;
}

.news_wrap_item{
  display: flex;
  padding: 0 15px;
  width: 100%;

}



.news_item{
  border-radius: 15px;
  width: 33.3%;
  margin: 0 1%;
  overflow:hidden;
  min-height: 482px;
  box-shadow: 3px 5px 3px 3px rgba(211,211,211,0.8);
  position: relative;
}

.news_img{
  display: block;
  width:100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.news_item::before{
  content: "";
  padding: 5px 50%;
  background-color: $color1;
  position: absolute;
  top: 195px;
  z-index: 1;
}

.news_img1{
  background-image: url(../img/index/bg-35.png);
}
.news_img2{
  background-image: url(../img/index/bg-36.png);
}
.news_img3{
  background-image: url(../img/index/bg-37.png);
}


.news_zoom{
  width:100%;
  height:200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.news_img:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
  position: relative;
}

.news_img:hover::after{
  content: "";
  background-color: rgba(0,0,0,.1);
  width:100%;
  height:100%;
  display: block;
  position:absolute;
  top:0;
  left:0;
}

.news_btn{
  text-decoration: none;
  background-color:$color1;
  color:$color4;
  border-radius: 5px;
  font-weight: 600;
  padding: 7px 14px;
  margin: 0 20px;
  font-size: 0.96rem;
}

.news_btn:hover{
  opacity: 0.5;
}

.btn_music{
  background-color:$color3 !important;

}

.news_btn::before{
  content: "";
  display: inline-block;
  padding: 25px 0;
}


span{
  display: inline-block;
  float: right;
  position: relative;
  top: 38px;
  font-size: 15px;
  right: 20px;
  color:rgb(165, 164, 164);
}


.news_main{
  font-size: 26px;
  font-weight: 700;
  line-height: 2rem;
  padding: 20px 20px;

}

.news_title{
  overflow: hidden;
  padding: 0 20px;
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  height:60px;
  width:100%;
}

.news_title_two{
  margin-top:30px;

}

}

//media-news

@media (max-width:992px){

  .news_wrap_item{
    flex-direction: column;}

  .news_item{
    width: 100% !important;
    margin-bottom: 20px !important;

  }  

  .news{
    margin-left: 20px;
  }

}


//沒有用flex.RWD遇到問題
/*
// #news2_wrap{

//   .news2_wrap_item{
//     margin:40px 15px;
//   }

//   .news2_item{
//     // border: 1px solid black;
//     margin-bottom: 20px;
//     width: 100%;
//     height: 162px;
//     position: relative;
//     background-color: #f0f0f0;
//     border-radius: 15px;


//   }

//   .news2_zoom{
//     width:274px;
//     height: 162px;
//     position: absolute;
//     overflow: hidden;
//     border-radius: 15px 0 0 15px;


//   }

//   .news2_img{
//     display: block;
//     background-image: url(../img/index/bg-38.png);
//     width:100%;
//     height: 100%;
//     background-position: 50%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     border-radius: 15px 0 0 15px;

//   }

//   .news2_img:hover{
//     transform: scale(1.1);
//     transition: transform 0.5s;
//     position: relative;
    
//   }

//   .news2_img:hover::after{
//     content: "";
//     background-color: rgba(0,0,0,.1);
//     width:100%;
//     height:100%;
//     display: block;
//     position:absolute;
//     top:0;
//     left:0;
//   }

//   .img2{
//     background-image: url(../img/index/bg-39.png);
//   }

//   .img3{
//     background-image: url(../img/index/bg-40.png);
//   }

//   .news2_center{
//     position: absolute;
//     left: 300px;
//     top: 25px;



//     a:hover{
//       opacity: 0.5;
//     }

//     a{
//       text-decoration: none;
//       background-color:$color1;
//       color:$color4;
//       border-radius: 5px;
//       font-weight: 600;
//       padding: 5px 14px;
//       // margin: 0 20px;
//       font-size: 15px;
      



//     }
//     .news2_center_btn1{
//       background-color:$color2;
//     }
//     .news2_center_btn2{
//       background-color:$color3;
//     }
    
//     p{
//       padding-top: 80px;
//       text-align: center;
//       font-size: 15px;
//       color: #848484;
//     }
    

//   }
//   .news2_center::before{
//     content: "";
//     display: inline-block;
//     padding:81px 5px;
//     background-color: $color1;
//     position: absolute;
//     top:-25px;
//     left:-28px;
//   }

//   .news2_main{
//     position: absolute;
//     left: 420px;
//     top: 20px;

//     a{
//       display: block;
//       font-size: 22px;
//       text-decoration: none;
//       color:#000;
//       font-weight: bold;
//       letter-spacing: 0.097rem;
//       padding-right: 30px;
//     }

//     p{
//       letter-spacing: 0.075rem;
//       overflow: hidden;
//       line-height: 1.2rem;
//       font-size: 15px;
//       height: 35px;
//       padding-right: 20px;
//       margin-top:37px;
//       // position: absolute;
//       // top: 75px;
//     }

//     .text_p{
//       margin-top:60px;
//     }
//   }



// }

// @media (max-width:992px){


// }*/

// 有用flex
#news2_wrap{

  .news2_wrap_item{
    margin:40px 15px 80px 15px;
    position: relative;
    // display: flex;
    // flex-direction: column;
    
  }

  .news2_item{
    display: flex;
    height:162px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color:#f0f0f0 ;
    // position: relative;

  }

  .news2_zoom{
    width:262px;
    height: 162px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;   
    // position: relative; 
  }

  .news2_center{
    width:150px;
  }

  .news2_main{
    width:70%;

  }

  .news2_img{
    display:block;
    width:100%;
    height:100%;
    background-image: url(../img/index/bg-38.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .img2{
    background-image: url(../img/index/bg-39.png);
  }

  .img3{
    background-image: url(../img/index/bg-40.png);
  }
  
  .news2_img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    position: relative;
  }
  
  .news2_img:hover::after{
    content: "";
    background-color: rgba(0,0,0,.1);
    width:100%;
    height:100%;
    display: block;
    position:absolute;
    top:0;
    left:0;
  }

  .news2_center{
    text-align: center;
    padding-top: 25px;
    border-left: 10px solid $color1;

    a{
      text-decoration: none;
      background-color:$color1;
      color:$color4;
      border-radius: 5px;
      font-weight: 600;
      padding: 5px 14px;
      font-size: 15px;
      
      // position: relative;
      // top: 20px;
    }

    p{
      padding-top: 85px;
      font-size: 15px;
      color: #848484;
    }

    a:hover{
      opacity: 0.5;
    }
    
  }
    .news2_center_btn1{
      background-color:$color2 !important;
    }
    .news2_center_btn2{
      background-color:$color3 !important;
    }

  .news2_main{
    position: relative;
  //   // padding-top: 25px;
  //   height: 100%;

    a{
      display: block;
      font-size: 22px;
      text-decoration: none;
      color:#000;
      font-weight: bold;
      letter-spacing: 0.097rem;
      padding-right: 30px;
      padding-top: 20px;
    }

    p{
      letter-spacing: 0.075rem;
      overflow: hidden;
      line-height: 1.2rem;
      font-size: 15px;
      height: 35px;
      position: absolute;
      padding-right: 30px;
      bottom: 21px;
    }
  }

  }

  .all_news{
    font-size: 28px;
    font-weight: 600;
    color:$color1;
    text-align: right;
    position: relative;
    padding-top: 20px;
    margin: 30px 0;
    margin-right: 60px;
    letter-spacing: 0.097rem;

    span{
      display: inline-block;
    }

}

.all_news:hover span{
  display: inline-block;
  position: relative;
  left: 10px;
}

.all_news::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 100' style='enable-background:new 0 0 480 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M480,0c-35.1,0-76.8,5.8-123.9,22.2C258.6,56.3,187.9,100,103,100C51.7,100,28.3,77.1,0,77.1V0H480z'/%3E%3C/svg%3E%0A");
    display: block;
    background-repeat: no-repeat;
    width:100%;
    position: absolute;
    height: 100px;
    left: 0;
    top: 50px;

}

.all_news::after{
    content: "";
    display: inline-block;
    background-image: url(../img/new_bottom.png);
    width:100%;
    background-repeat: no-repeat;
    height: 100px;
    position: absolute;
    right: -90px;
    background-position: 100%;
    z-index: -1;
    bottom: -40px;
    
}



  @media (max-width:992px){
    
    .news2_item{
      flex-direction: column;
      height:100% !important;
      // width: 80px !important;
    }

    .news2_main,.news2_zoom,.news2_center{
      width: 100% !important;
    }
    .news2_zoom{
      border-radius: 15px 15px 0 0 !important;
      height:330px !important;
      //需另設高度

    }
    .news2_img{
      height: 100% !important;
    }

    .news2_center{
      text-align: left !important;
      border-left:0px !important;
      border-top: 10px solid $color1;

      a{
        margin-left:20px;
      }

      p{
        margin-right: 16px;
        padding-top:0px !important;
        float:right;
      }
    }
      .news2_main{
        padding: 0 10px 80px 20px;
      }


  //   .news2_img{
  //     width:100%;
  //     height:100%;
  }