@import "_var";
@import "footer.scss";

#mainnews_header{
    height: 321px;
    background-image: url("	https://khsmusicweb.blob.core.windows.net/public/src/static/images/bg3/top4.png");
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index:1;
    
    &::before{
        content: "";
        background: linear-gradient(0deg,transparent 0,#000 100%);//漸層.線性
        width:100%;
        height:50%;
        opacity: 0.55;
        //寬高會滿版
        display: block;
        position:absolute;
        //before.after為行內元素要改成塊及元素
        //定位absolute跳出結構
        z-index:-1;
         //父層設z-index:1 子層設z-index:-1才可以使背景覆蓋上遮罩且文字不被遮住
        }

    &::after{
        content: "";
        background-color: rgba(0,0,0,.3);
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        top:0;
        left:0;
        z-index:-2;
        //z-index不可設0，不然會使文字無法拖曳
    }    
}
    .mainnews_header_inner{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .menu_wrap{
        // border-radius: 20px;
        // height:80px;

            ul.top_style_1{
                background: $color4;
                border-radius: 15px;
                padding: 28px 10px;
                // margin-top: 100px;
                margin: 100px 20px;
                position: relative;
            &::after{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 370.6 84' style='enable-background:new 0 0 370.6 84;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23D01A48;%7D%0A%3C/style%3E%3Cpath class='st0' d='M355.6,0H0c29.5,0,64.4,4.9,104,18.7c79.3,27.7,137.4,63.7,205.8,65.2l45.8,0.1c8.3,0,15-6.8,15-15V15 C370.6,6.8,363.9,0,355.6,0z'/%3E%3C/svg%3E");
                width:350px;
                height:100%;
                background-repeat: no-repeat;
                display: inline-block;
                position: absolute;
                right: -1px;
                top: 0;
                }
            li{
                display: inline-block;
                margin-left: 10px;

                a{
                    color:#989898;
                    text-decoration: none;
                    font-size: 23px;
                }
                .focus{
                    color:$color1;
                    font-weight: 700;
                }
            }
                a:hover:not(.focus){
                    color:$color1;
                }
                a:active:not(.focus){
                font-weight: 700;
                }
            }

        }
    }

    .mainnews_header_mobile{
        display:none;
    }

    @media (max-width:992px) {

        #mainnews_header{
        background-size: cover;
        background-position: 50%;
        }
        .menu_wrap{
            display:none;
        }
        .mainnews_header_mobile{
            display:block;
            
            .inner_menu_mobile{
                background: $color4;
                border-radius: 10px;
                padding: 12px;
                margin: 0 20px;
                position: relative;
                margin-top: 150px;
                li>span{
                    color: $color1;
                    background-color: $color4;
                    font-size: 15px;
                    font-weight: 700;
                }
                span::after{
                    content:"";
                    display: inline-block;
                    background-image: url(../img/chevron-down-outline.svg);
                    width:20px;
                    height:20px;
                    position: absolute;
                    right: 20px;
                    opacity: 0.8;
                }
                .inner_ol{
                padding-top: 30px;
                display: none;
                font-size: 18px;
                padding-bottom: 7px;
                position: absolute;
                width: calc(100% - 20px);
                left: 10px;
                background-color: #ffffff;
                    li{
                        padding-left: 25px;
                        padding-bottom: 10px;
                        // width:100%;  
                        a{
                            color:#989898;
                            text-decoration: none;
                            font-size: 20px;
                            width:100%;
                            display: block;
                        }
                    }    
                }
                li.c_d01a48:hover .inner_ol{ //暫時使用hover,要使用JS連動成click
                    display: block; 
                }      
            }
        }
    }
