@import "_var";
@import "_normalize";
@import "_recet";
@import "_nav";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

//header

#header{ //如果沒有寫height:100vh其 header外層要+width:100%
    width:100%;
    height:100vh;
    background-image:url(https://img.youtube.com/vi/tIA_vrBDC1g/maxresdefault.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;//給遮罩做定位
    z-index:1;
    color:white;
    //遮罩
    &::before{
        content: "";
        background: linear-gradient(0deg,transparent 0,#000 100%);//漸層.線性
        width:100%;
        height:50%;
        opacity: 0.55;
        //寬高會滿版
        display: block;
        position:absolute;
        //before.after為行內元素要改成塊及元素
        //定位absolute跳出結構
        z-index:-1;
         //父層設z-index:1 子層設z-index:-1才可以使背景覆蓋上遮罩且文字不被遮住
        }

    &::after{
        content: "";
        background-color: rgba(0,0,0,.3);
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        top:0;
        left:0;
        z-index:-2;
        //z-index不可設0，不然會使文字無法拖曳
    }    


    .header-wrap{

      .header_bottom{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 796.63 239.98'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d01a48;opacity:.9%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E1%3C/title%3E%3Cpath class='cls-1' d='M476.82 205c-57-11-94.63-45-190.63-101C58.57-28.78-84.93-48-319.82-28.54V205h796.64z' transform='translate%28319.82 34.98%29'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left bottom;
        width:100%;
        height: 240px;
        position: absolute;
        bottom: 0;
        padding-left: 30px;
        
        .header_main{
          font-size: 40px;
          letter-spacing: 2px;
          position: relative;
          bottom: 90px;

          a.player{
            display: inline-block;
            background-image: url(../img/play.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width:60px;
            height: 60px;
            position: relative;
            top: 20px;
            left: -10px;
            max-width: 100%;
          }
        }

        .header_p{
          width: 25%;
          line-height: 27px;
          font-size: 15px;
          /* position: absolute; */
          letter-spacing: 0.1rem;
          margin-top: -20px;

        }

      .buttom_about{
        margin-top: 20px;}

      a.about{
        display: block;
        text-decoration: none;
        color:$color4;
        // margin-top: 30px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        width: 110px;
        line-height: 34px;

       &:hover{
        background-color:$color4 ;
        color: $color1;

       } 
    }
      
    
      }


    }




     }


     
    ::selection{
        color: $color1;
        background-color: $color2;
    }

    @media (max-width:992px){

      .header_bottom{
      background-size: cover;
      padding-left: 15px !important;
      padding-top: 2vw;
      z-index: -1;

      .header_main{
        font-size: 6vw !important;}
      .header_p{
        width: 63% !important;
        }

      a{
        position: absolute;
        left: 15px;} 

      }
  

    }

 //main- card_wrap   
#card_wrap{

  margin-top:95px;
  margin-bottom: 85px;
  //差灰色背景

  .card{
    width:100%;
    padding: 30px;

    .card_serive{
      text-align:right;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 100'%3E%3Cstyle%3E.st0%7Bfill:%23d01a48%7D%3C/style%3E%3Cpath class='st0' d='M0 100c35.1 0 76.8-5.8 123.9-22.2C221.4 43.7 292.1 0 377 0c51.3 0 74.6 22.9 103 22.9V100H0z'/%3E%3C/svg%3E");
      height: 100px;
      background-repeat: no-repeat;
      background-position: 95%;
      position:relative;

    .serive{
      font-size:2rem;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $color1;
    }

    }

  }

  .card_item{
    display: flex;
    padding: 20px;
    background-color: $color1;
    justify-content: space-between;
  }

  .item_left,.item_right{
    width:48%;
    border-radius: 15px;
  
  }

  .item_left{
    background-color: $color2;
  }
  .item_right{
    background-color: $color3;
  }

  .item_zoom{
    width:100%;
    height:330px;
  }

  .image_left{
    background-image: url(../img/index/bg-33.png);
    background-position: 50%;
    background-size: cover;
    width:100%;
    height: 100%;
    display: block;
  }

  .image_right{
    background-image: url(../img/index/bg-32.png);
    background-position: 50%;
    background-size: cover;
    width:100%;
    height: 100%;
    display: block;

  }
  .two_icon{
    float: left;
    width:150px;
    height:150px;
    background-repeat: no-repeat;
    
  }
  .image_left_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 157 158'%3E%3Cstyle%3E.st0%7Bopacity:.35%7D.st1%7Bfill:%23998066%7D.st2%7Bfill:%23fff%7D%3C/style%3E%3Cg class='st0'%3E%3Cpath class='st1' d='M51.5 113c1.3 1.3 3.1 2.1 5 2.1s3.7-.7 5-2.1l4-4-10-10-4 4c-2.7 2.8-2.7 7.3 0 10z'/%3E%3Cpath class='st1' d='M62.8 114.3c-1.7 1.7-3.9 2.6-6.3 2.6s-4.6-.9-6.3-2.6c-1.4-1.4-2.4-3.4-2.6-5.4l-.2-1.9-4.8 4.8.2.5c.7 2.2 1.9 4.2 3.5 5.8 2.7 2.7 6.3 4.2 10.1 4.2s7.4-1.5 10.1-4.2l4-4-3.8-3.8-3.9 4z'/%3E%3Cpath transform='rotate%28-45.001 64.539 101.686%29' class='st1' d='M61.8 83.8h5.4v35.7h-5.4z'/%3E%3Cpath transform='rotate%28-45.009 68.347 96.177%29' class='st1' d='M66.2 89.1h4.2v14.2h-4.2z'/%3E%3Cpath transform='rotate%28-44.992 76.536 104.364%29' class='st1' d='M74.4 101.7h4.2v5.4h-4.2z'/%3E%3Cpath transform='rotate%28-45.017 69.483 78.674%29' class='st1' d='M67.4 76h4.2v5.4h-4.2z'/%3E%3Cpath transform='rotate%28-44.992 77.678 86.864%29' class='st1' d='M75.6 79.8h4.2V94h-4.2z'/%3E%3Cpath transform='rotate%28-45.001 60.17 87.996%29' class='st1' d='M58.1 85.3h4.2v5.4h-4.2z'/%3E%3Cpath transform='rotate%28-45.001 38.543 109.615%29' class='st1' d='M19 106.9h39v5.4H19z'/%3E%3Cpath class='st1' d='M103.2 25.4c.8 9.1-2.4 18.1-8.9 24.6l-9.4 9.4 2.6-.3c.7-.1 1.4-.1 2-.1.9 0 1.8.1 2.7.2l.5.1 5.5-5.5c5.7-5.7 13.7-9 21.8-9 .9 0 1.8 0 2.8.1l2.5.2L103 23l.2 2.4zM79.4 64.9l-4 4 3.8 3.8 4-4c1.7-1.7 3.9-2.6 6.3-2.6s4.6.9 6.3 2.6c3.5 3.5 3.5 9.1 0 12.5l-4 4 3.8 3.8 4-4c2.7-2.7 4.2-6.3 4.2-10.1s-1.5-7.4-4.2-10.1c-2.7-2.7-6.3-4.2-10.1-4.2-3.8.2-7.4 1.6-10.1 4.3z'/%3E%3Cpath class='st1' d='M96.6 75c0-1.9-.7-3.7-2.1-5-1.3-1.3-3.1-2.1-5-2.1s-3.7.7-5 2.1l-4 4 10 10 4-4c1.3-1.3 2.1-3.1 2.1-5z'/%3E%3Cpath transform='rotate%28-44.996 85.851 95.038%29' class='st1' d='M83.8 92.3H88v5.4h-4.2z'/%3E%3Cpath transform='rotate%28-45.001 73.852 92.364%29' class='st1' d='M71.2 74.5h5.4v35.7h-5.4z'/%3E%3Cpath transform='rotate%28-45.001 83.178 83.048%29' class='st1' d='M80.5 65.2h5.4v35.7h-5.4z'/%3E%3Cpath class='st1' d='M102 19.4c-.2-.2-.4-.3-.6-.3-.2 0-.3 0-.5.1-.3.2-.5.6-.4 1 2.9 10.1 0 21-7.4 28.5l-19 19-1.1-1.1c-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3l-1.9 1.9-3.8-3.8 1.6-1.6c.3-.3.3-.9 0-1.3-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3L62 66.3c-.3.3-.3.9 0 1.3.2.2.4.3.6.3s.5-.1.6-.3l1.6-1.6 3.8 3.8-1.9 1.9c-.3.3-.3.9 0 1.3l1.1 1.1-3 3-1.1-1.1c-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3l-1.9 1.9-3.8-3.8 1.6-1.6c.2-.2.3-.4.3-.6 0-.2-.1-.5-.3-.6-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3l-4.4 4.4c-.2.2-.3.4-.3.6 0 .2.1.5.3.6.2.2.4.3.6.3.2 0 .5-.1.6-.3l1.6-1.6 3.8 3.8-2 1.9c-.3.3-.3.9 0 1.3l1.1 1.1-3 3-1.1-1.1c-.1-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3l-1.9 1.9-3.8-3.8 1.6-1.6c.2-.2.3-.4.3-.6 0-.2-.1-.5-.3-.6-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3L43.4 85c-.3.3-.3.9 0 1.3.2.2.4.3.6.3.2 0 .5-.1.6-.3l1.6-1.6 3.8 3.8-1.9 1.9c-.3.3-.3.9 0 1.3l1.1 1.1-27.6 27.6-1.1-1.1c-.2-.2-.4-.3-.6-.3-.2 0-.5.1-.6.3-.3.3-.3.9 0 1.3l8.5 8.5c.2.2.4.3.6.3.2 0 .5-.1.6-.3.3-.3.3-.9 0-1.3l-1.1-1.1 13.4-13.4.5 1.2c.8 1.8 1.9 3.5 3.4 4.9 3 3 7.1 4.7 11.4 4.7 4.3 0 8.3-1.7 11.4-4.7l4-4 2.8 2.8c.2.2.4.3.6.3.2 0 .5-.1.6-.3l5-5.2c.2-.2.3-.4.3-.6 0-.2-.1-.5-.3-.6l-2.8-2.8 3-3 2.8 2.8c.2.2.4.3.6.3.2 0 .5-.1.6-.3l5.1-5.1c.2-.2.3-.4.3-.6 0-.2-.1-.5-.3-.6l-2.8-2.8 3-3 2.8 2.8c.2.2.4.3.6.3.2 0 .5-.1.6-.3l5.1-5.1c.3-.3.3-.9 0-1.3l-2.8-2.8 4-4c6.3-6.3 6.3-16.5 0-22.7-1.4-1.4-3.1-2.6-4.9-3.4l-1.2-.5 4.7-4.7c5.4-5.4 12.9-8.5 20.6-8.5 2.7 0 5.3.4 7.9 1.1h.2c.3 0 .6-.2.8-.4.2-.3.1-.8-.1-1.1L102 19.4zM69.1 75.3l3.8 3.8-3 3-3.8-3.8 3-3zm5 5.1l10 10-3 3-10-10 3-3zm-14.4 4.2l3.8 3.8-3 3-3.8-3.8 3-3zm5.1 5.1l10 10-3 3-10-10 3-3zm-38.1 35.6l-3.8-3.8 27.6-27.6 3.8 3.8-27.6 27.6zM55.5 99l10 10-4 4c-1.3 1.3-3.1 2.1-5 2.1s-3.7-.7-5-2.1c-2.8-2.8-2.8-7.3 0-10l4-4zm11.1 19.1c-2.7 2.7-6.3 4.2-10.1 4.2s-7.4-1.5-10.1-4.2c-1.6-1.6-2.8-3.6-3.5-5.8l-.2-.5 4.8-4.8.2 1.9c.2 2 1.1 4 2.6 5.4 1.7 1.7 3.9 2.6 6.3 2.6s4.6-.9 6.3-2.6l4-4 3.8 3.8-4.1 4zm12.5-5.7l-3.8 3.8L50 91l3.8-3.8 25.3 25.2zm-2.1-4.6l-3.8-3.8 3-3 3.8 3.8-3 3zm11.4-4.7l-3.8 3.8-25.3-25.3 3.8-3.8 25.3 25.3zm-2.1-4.7l-3.8-3.8 3-3 3.8 3.8-3 3zm11.4-4.6l-3.8 3.8-25.3-25.3 3.8-3.8 25.3 25.3zM80.5 74l4-4c1.3-1.3 3.1-2.1 5-2.1s3.7.7 5 2.1c1.3 1.3 2.1 3.1 2.1 5s-.7 3.7-2.1 5l-4 4-10-10zm19.1-9.1c2.7 2.7 4.2 6.3 4.2 10.1s-1.5 7.4-4.2 10.1l-4 4-3.8-3.8 4-4c3.5-3.5 3.5-9.1 0-12.5-1.7-1.7-3.9-2.6-6.3-2.6s-4.6.9-6.3 2.6l-4 4-3.8-3.8 4-4c2.7-2.7 6.3-4.2 10.1-4.2s7.4 1.4 10.1 4.1zm23.1-20c-.9-.1-1.8-.1-2.8-.1-8.1 0-16.1 3.3-21.8 9l-5.5 5.5-.5-.1c-.9-.2-1.8-.2-2.7-.2-.6 0-1.3 0-2 .1l-2.6.3 9.4-9.4c6.5-6.5 9.7-15.4 8.9-24.6L103 23l22.2 22.2-2.5-.3z'/%3E%3C/g%3E%3Cimage width='140' height='141' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAACNCAYAAABlnJKbAAAACXBIWXMAAAsSAAALEgHS3X78AAAA GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAEXRJREFUeNrsnely47oOhEFJdvL+ D3snmVjk+WPXxbQbCx2vMlWlSiaTXV8aQBMEJxnXuDquafwKxjWAGdcAZuNXOd5Pfy3jWT0MkOzb 2wBmgBKBo0EpzwTOAOb+oJQELAyepwBnAHM/WNjLSGGaAU4bwLwPLHgztWkADL7+MLUZwNwXlkmB MhnQNOOuz6A2A5j7wTOplxP8mylMVS+rozx3hWYAc3t10VDMCpYZwEGFqepej/9fH600A5jbg1NA WWa4J6IyGpQTLCtAVR8BzQDmvipzAmY53qfXtcpodTkcQTkc3+eggJJHQDOAub3nooGZFSQ7AGcC hVmPbz/B8qM+5wHe927QDGDuozATUZiduk8gITCHIygT8W0eAs0A5r7+iw5HJ2j2SmUKAPNjVFHo wdzN4BvA3C/xRZXZKWB2EJZ0SGLq0owyHGG5OjQDmPtUSAVUZgZodkplNDCs5BYHgnr8mHoraAYw j1GZmSTAOwVIO+YozJ9pQTi6KTQDmNtVSFZ57Xkyi/zfoPNgseC5OTQDmPt6McXJaWY5XzbQsFS4 W5AI3wSaAczzQYTKUpX6rAQYVJnDLaEZwNw3TPU2TzHDTwNjhaSbQTOAuW/Sy0IItjBMDjgTgOM9 dAbNr1e5BzD3BYTlGzo/YQuQWkUQGk9l5BjC9OfDr98NzQDm/l6MpTA6ZOi3raAmGppehfg1NAOY +5TW1v8jGLr9sjqVUTGAyXxt7KnpgmYAcz9lsZSmgrpYpbTuwtOusZdgFyc8XgTNAOZ2ymJ5LlY7 pkBIqkYeox/wFAAaqU43NAOY2ysL6+WdSGiqRihCWNgKOPvclrpE/TRDYR7gtRQDEtbDKxCSKiS7 lZTXBRRGEl/L6qfBBU1XZQYw14PFs/9n52GiyqwKllUpjH7gMwHo9H6zA4xX1pdMaBrA3AYaBGMW 3vzNgMEG8AZwIECTAc3sANMMcMLQNIC5fihCSHSz9yL+IiNWSJgQF5LPaAUTBxjL+zlBOJHSvQ1g HqMqGpYZwCngv1h/9eJ8PQ2hiN+AxRJqFvZGSLpD3nJ6aKgqeOMDjkpjMRLYiYQ5UYrB/J5KQp9e nCyeygxgrgMLU5WdcZ+gQUXAvIRVL7NTDZ2+fiHANJUTLccKaXaqtpH03hEWvedIN3mzbSWFJJuz 8ReOijIJ39w/QaVTidrNBnxhC8QA5nqw6K0jCMpezpu9Wf4yQ2nLgPFKZnw5Bf4MJt5hn84A5vrK oiH5OL7cK2gwHDXjQa0QmlBJvKpHv12CPEmkYyjjAOY6sGAI0qDo13X+EnkeRc6bpIrwft8VqiA0 AnHxMvp5zcR3AHOdMLQAIB8KlA/5d7MaVjOVqAU+uGjj2qTUpRBgDscbAYr2OQ2FuXHO8kHuPamO JAhHYngzCFSV8/UlVJ8TLD/He5V/lx8YPKbrO4DJubceLHtQl0+AZQ/VSSEPBo0za8BQC8w8BthK oDkYwIzV6jvBohXlkyS7i/A1H51beIksa6QS4W0PQkBDaA6Oyox+mGzJSEIRjhrDSujDgAXVBX0X 1j0nYOJVCB+r2H0y1qY2bJc4wJ0NS28DTLng/zKb51kI+jRyl5mEIpwgFT1cBg5Tmuao1Onj9Oc7 vR6FvM0DU4JQk1WXyYFFg/JJ1AVNOiGQsNCxQq7BFGE1wogFDGvM8kKSqVzLxmGxHNAILO2ILsRj YaB8Op4La2FYSfnLEtSfQGW8iQ4WNA2UJePPbBIYbzx71BitYSly3ppgwYLqgksAOOyQeS84oux0 /wWl6VWFZoQn9nqoLlsDxoLF6mstCWCYKefBwkJRIaWzOOEIoWGl8Eqc2wgYkXhkSGjkLRuExepR wcbpaMFuJuVzBAuriopROgspmw9GSGLeSZXcgCEPHOmBZSvAeMqS6dpnsM0EmI+ksqDnEvkkVi/v IVkGW0sHkgBHJNnLuxVgihFOsHVxhte9VVtMdvckf0FVwTA0JX0fD5pqeDBeOMo++N7332wOEzVh IzST4+oiMFpl9kYImqTvKJtekKqRrHY/+Avf/2WBsbr12QAeXRazbjOvT5YtATBVmYU3Tzdwb9sv VSA74+7XYGwJGG/DubeajD21s5wfQWMBp7vm9uTzsMoHN9d7W1+jBvAoD7kqFFsCJkpwrXGmWhWw r5a1LHo9uotRNoucz1+RQBUyCfok/gSru8HyasB4J5xNTijywskicRe+lQd5sFjVCNsrnTkaB0Pn OPPxQp8FXVmWt7A2hH2Q07Aqy9sTncktrE1j3nZaD5qHnPu4vDgsmUZstrLslcMTUS9m+LERHV7f LFOdSB0ZNPWRD2N5YVhmJ0FlsHyQ1/fJyqmQqufk3FqjxazmJpbDsIngp5enTWerE5rGEX4OLLPY e5ctdWGdcR9y3j7p7dNhZhlbC6oECnHCiJUvzU64rI8KS8sLwBKZch4sqCZRLmNVJKyfBP+PrSQz nyia+DAZRmNUMb0tMJ7dPzvlLnolexKGGEAeMDgSVeR8VyJbB2KVUBO+juVtrJ8SofKtk97MQqKV 3KLfsjcgYfudLV+FwVINU441N+mQo0NQ9DNOTjiyFObtTpW1fJasKbd38pY9URXLxBPHW6lOqYwh S7u9mJwWUimxdgyvnH5IWFqeFJbIkMvmKgwcpiwLUYLMuo+1QIg7Ak7VFBs51ozw5A00fOscJvJZ Zok3vLOtqXuiQLietBg5QiMPpiR8lUyPrUi8HpYdCn3XkvoZgMnC0ls2s3zFGrkxOw6uJFQm+zNK kH9cUv28VdKbNeWWRM7y4SS4OyMMsdXq7NUChUA1yQxcfonrmXKY4hhySwCLlbfs5HyleZa4M85r mhaxe4dn8pdvLWz+VrlEHrAIuTyRumQS3J1j8XuV0GIoSzTw2HswCIpOdNnMOitX8saiZhc13yYk RZ1uuwuUJROC2AQFCVQlC8sq9gIjfv0q+ZNj2yOV5ZHARKd+eBMSmIO7d/KWTAjKVDvW+C990BX+ m8GVhdVazLxoCNDWqqRobKnl2H4EOYunLOjaemtHLVAXBMhrwbQMP8/PsZq/H5LPLA8GxYLGGwOW DUUavkISzWY4py3wVET+HVbowcJUVS8llEBd1kBp2rsqzKXQ7IIE1ztuRgITLNOHK5DkZnYC4FE3 qGi4JuXNhXnrstrbJmKFpl1QDbFVXf0Lr4kHHMHSiPcihgmot8RORFnWAJr2aJVZHgCGF9sniQcP slC0OHlLxl+xbHtx/n9OPLACsOBamQBIesgPm9bgHen3lsYdK0OtXQB7J2dBc0zIX2jUg1uCqi77 x9GUCuHJsZjTrAlo2iMf1DP2wxRStk5yfiJIT/ncnCqpyu+mZkdDigS+DpulWx1o1pH09oWrzKFV XpLbjJyidZTP3iqyp0YYLqqRBCMoB8kNQ3wrpzdTNXk7A60TObyFxIwfwvKrCUKJNUzZqraYymFe cnBgiUaUbd7pjZb8rf6QzHbSQh6a99fPbq+7rTjurbedBFWlkUR3Nf59rWkNLwVMSZh3JVCZIv5O QO8gzJYsnzU0k/Gg2PeFiW4Rv6VzNUKRlbvUR6vLMzi93kHg1vk+WUgscDKVkCTcXu/7wEOqmtjD mg9GVeSdByCy8ZDU04Y5OzmK15LgweJNa7JCmATwWdA0Q90yY8mi0aoib1BW98KCBlzvanM03Djq lmuOiSfitzsw/8Wa8G0Nb7aGHz4clnsA4zVKWUsAi8S9LJlV52jUqEDFg5/LM+kyM/4RFms6pjXA OTO4eVPA9BxOZZ2VGNn9LFG1kl0vecXj9KzyWhwgmSGIYUcPbNa3dcLIxQdhvRowvWckWmtEma2s FTySnkHH7BTW3n4Wa3ekhkXD8X28NSzWtO+naZy6JTC9/brW0Xd7Jyw1IxR1DSmG79P7WC8UCkl4 9URvDcqXAuZbvT0a3vw01/JAZbH6XKzj71g/bE9uIeKfOzAZH9sS0KC6oLJ8K2DwZmEpM7z55YH5 DSzedG3rcE08ESTKU4TkQN7Zz1aS6akZqosG5Q+8/FIqw5Lep0p2rw3MJbD0qAs7RmZNVEGsZGZD g6bACLT+wlnHnA5FWlX+wP0FoclrZXiasLQ8EBZ2QNUnURfvZJAq8QxcPIavSNzVH/X3Mm8Hk9wT DFpZ/mfA8kM8mKcKRdcC5hawYNLrweKNChP4Xpjv4h2VI4YBJ44h92OEIlQWnb+whPfpqqNrAHNN WKIKaZLztgCr0QjBsLaCeG5vIaHn9DGrkeAyWKJQ9DLV0W+BuTYsn5Kf49/EPkgTJz/pTWYl+Iv1 JmfiuFN2itqp2vkisHwFoWg1kt2Xz2Ey5zrP6oFnYbGauq2N6ywU6F84KgnOuLWqKOvnbERxqpGz 9MISHTr+sjlMzyHgS0cYOlVL3uERQn6ZbMVXu756ksJsuLyZflwx8hbmtbAw9LUVWHqA8eb8syZt 68T4T6d8tjahSbBWw9oB9PeZ3QDGmsZFzpuYPBf3y0huNwFLFpjssEJcG7JgsfKV7MZ57/Cp2pGz WApiqYp16uvX1sNQDzCZYYVWGLKUBU8zYwluzwEQVnulXPAAWhKWKAR51dDLwtKrMB4slrJ8GGVz dsKCOEZZS4SW7IhSq0sODTkGi6csf7cESwRMNOLcm+HyGdj90bj21qEuIvZms+hks2hoj06so7LZ U5YfiY8QfnpYPGAyk7gX4WPErMTWW0zEEIA5SBW7IRqboCSw+pvj3jKfZU24t386fJaXhSWjMNF0 qF0QfjLrQiLnjVDe3mM81UwcYKzEGY/07fFZfgNLe2VYLGCK8TDQmIuS2+wiIiuFvUqlir8iLc66 kAYFD4yIXNxvx2PZXDV0LYWZQGGifhbvXOcq+Vm1bJtGc9aIvI33q3r75LyfZcz9IfnLW8BySQ6T 9Vw0LKxbrl0gz9kN9CL2KLBVwbqKfdRNxpxDddk8LNkqKXMAuDW2HWGJDLeWsOp7R16w0WBTAJXV rqD7cq0Whc3CwoApycTXm/+POQtrkM5uB43KY+/Q72JAUpyEezWA+QvQsM7/zcPSY9xlD+icSc5i +RreL5kls71nBhUo0UsQ4laxdydiaMItIpvxWa61NOAlwdZeaKxOtKdh7fizzkrMjPaIlBIVqYo/ /cnaqfhX7N2K65ZhySqMJFXICxcsiWRyjols5sDxzOFTWVDYjLkDKCLuh96Uz/JbYDIWfTUeAqoL ywc0NCuUy+xM5ww0Xtc/G5ocDfRBeFhb6Cp8nWtTsGQVxgLE+sucFCgifOvFt6owvtVfrf6Fs+Nw GDjRrBgPloPxc0Q3W6rYPCwMmJZYd2HzTX7k395bfb6hBoaVp2ijN8dhZuM/MnuKdBVUO8Gwxrh7 k6E2CUuPwlTDo1iODxx3JR4IMNYe47+BwvwGmKwyeqPaGRxPMQL1mYBpjrt6OD6wH8PuX9XbPYXR OYxOeqthGE5OSJoCk89LdKvEE7ejse2bV5aepBf/Oqfjw2eni60KqAIexw/4GN+JKql0VkoZhUEV 6Q01Vuh5W4XBoTpobrENXw18lgkUZhU+TOcHKiSmMKevtYo/KFHEX+mOziPyktfMzBl5V2A8lSni L9od5HzjPDPt/hI/o4o/g45BMiWWDqyzBWoyJ/GWH97u8nIYPIkjgmmV854Xaw+RNXGpkmqtgM3v HQQeWQKZnCSqdt4SlIzCsNBUxV/ltdaQonn6bLyFtSxRJTfrvzkJfHPyk6EmV1oa0JvRWX6DyagF lWd+WecXMcXpORgiSlrfPje5ZpVk7S1mVZR3emqUbEZ+RjPgEVAiCVRi5CZ3SHotaBCGaL5Kc0yw npzBG7xckp9ngHLBVS54X2vUR7bRKRqY0zq/15KEvuft47oCMCL2sTVRf4qXQ1yaN5QLft4ByJ2B 8dQm8/myecS4NgZMlHCWjnxhwPJC13wj6DJL/QOUNwWmR7EGJAOYcb3TNY1fwbgGMOMawIzrOa7/ BBgAR0pwac2efcYAAAAASUVORK5CYII=' transform='translate%289 9%29' overflow='visible' opacity='.35'/%3E%3Cpath class='st2' d='M28.4 129.2c-.2 0-.5-.1-.6-.3l-8.5-8.5c-.3-.3-.3-.9 0-1.3.2-.2.4-.3.6-.3.2 0 .5.1.6.3l1.1 1.1 27.6-27.6-1.1-1.1c-.3-.3-.3-.9 0-1.3l1.9-1.9-3.8-3.8-1.6 1.6c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3-.3-.3-.3-.9 0-1.3l4.4-4.4c.2-.2.4-.3.6-.3.2 0 .5.1.6.3.2.2.3.4.3.6 0 .2-.1.5-.3.6l-1.6 1.6 3.8 3.8 1.9-1.9c.2-.2.4-.3.6-.3.2 0 .5.1.6.3l1.1 1.1 3-3-1.1-1.1c-.3-.3-.3-.9 0-1.3l1.9-1.9-3.8-3.8-1.4 1.8c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3-.2-.2-.3-.4-.3-.6 0-.2.1-.5.3-.6l4.4-4.4c.2-.2.4-.3.6-.3.2 0 .5.1.6.3.2.2.3.4.3.6 0 .2-.1.5-.3.6l-1.6 1.6 3.8 3.8 1.9-1.9c.2-.2.4-.3.6-.3.2 0 .5.1.6.3l1.1 1.1 3-3-1.1-1.1c-.3-.3-.3-.9 0-1.3l1.9-1.9-3.7-3.8-1.6 1.6c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3-.3-.3-.3-.9 0-1.3l4.4-4.4c.2-.2.4-.3.6-.3.2 0 .5.1.6.3.3.3.3.9 0 1.3l-1.6 1.6 3.8 3.8 1.9-1.9c.2-.2.4-.3.6-.3.2 0 .5.1.6.3l1.1 1.1L93 48.9c7.4-7.4 10.3-18.3 7.4-28.5-.1-.4.1-.8.4-1 .1-.1.3-.1.4-.1.2 0 .5.1.6.3l26.8 26.8c.3.3.3.7.1 1.1-.2.3-.5.4-.8.4h-.2c-2.6-.7-5.2-1.1-7.9-1.1-7.7 0-15.1 3.1-20.6 8.5L94.5 60l1.2.5c1.8.8 3.5 1.9 4.9 3.4 6.3 6.3 6.3 16.4 0 22.7l-4 4 2.8 2.8c.3.3.3.9 0 1.3l-5.1 5.1c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3L90.3 97l-3 3 2.8 2.8c.2.2.3.4.3.6 0 .2-.1.5-.3.6l-5.1 5.1c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3l-2.8-2.8-3 3 2.8 2.8c.2.2.3.4.3.6 0 .2-.1.5-.3.6l-5.1 5.1c-.2.2-.4.3-.6.3-.2 0-.5-.1-.6-.3l-2.8-2.8-4 4c-3 3-7.1 4.7-11.4 4.7-4.3 0-8.3-1.7-11.4-4.7-1.4-1.4-2.6-3.1-3.4-4.9l-.5-1.2-13.4 13.4 1.1 1.1c.3.3.3.9 0 1.3.1-.2-.1-.1-.3-.1zm-5.6-7.7l3.8 3.8 27.6-27.6-3.8-3.8-27.6 27.6zm19.9-9.7l.2.5c.7 2.2 1.9 4.2 3.5 5.8 2.7 2.7 6.3 4.2 10.1 4.2s7.4-1.5 10.1-4.2l4-4-3.8-3.8-4 4c-1.7 1.7-3.9 2.6-6.3 2.6s-4.6-.9-6.3-2.6c-1.4-1.4-2.4-3.4-2.6-5.4l-.2-1.9-4.7 4.8zM50 91l25.3 25.3 3.8-3.8-25.3-25.4L50 91zm1.5 12c-2.8 2.8-2.8 7.3 0 10 1.3 1.3 3.1 2.1 5 2.1s3.7-.7 5-2.1l4-4-10-10-4 4zm21.6.9l3.8 3.8 3-3-3.8-3.8-3 3zM59.3 81.6l25.3 25.3 3.8-3.8-25.3-25.3-3.8 3.8zm2.6 11.1l10 10 3-3-10-10-3 3zm20.6 1.9l3.8 3.8 3-3-3.8-3.8-3 3zM68.6 72.3l25.3 25.3 3.8-3.8-25.2-25.3-3.9 3.8zm2.6 11l10 10 3-3-10-10-3 3zm-14.4 4.3l3.8 3.8 3-3-3.8-3.8-3 3zm32.7-21.4c2.4 0 4.6.9 6.3 2.6 3.5 3.5 3.5 9.1 0 12.5l-4 4 3.8 3.8 4-4c2.7-2.7 4.2-6.3 4.2-10.1s-1.5-7.4-4.2-10.1c-2.7-2.7-6.3-4.2-10.1-4.2s-7.4 1.5-10.1 4.2l-4 4 3.8 3.8 4-4a9.1 9.1 0 0 1 6.3-2.5zm0 1.7c-1.9 0-3.7.7-5 2.1l-4 4 10 10 4-4c1.3-1.3 2.1-3.1 2.1-5s-.7-3.7-2.1-5c-1.3-1.3-3.1-2.1-5-2.1zM66.1 78.3l3.8 3.8 3-3-3.8-3.8-3 3zm37.1-52.9c.8 9.1-2.4 18.1-8.9 24.6l-9.4 9.4 2.6-.3c.7-.1 1.4-.1 2-.1.9 0 1.8.1 2.7.2l.5.1 5.5-5.5c5.7-5.7 13.7-9 21.8-9 .9 0 1.8 0 2.8.1l2.5.2L103 23l.2 2.4z'/%3E%3C/svg%3E");


  }
  .image_right_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 157 158'%3E%3Cstyle%3E.st0%7Bdisplay:none;opacity:.35;fill:%23738080%7D.st1%7Bstroke:%23fff;stroke-miterlimit:10%7D.st1,.st2%7Bfill:%23fff%7D%3C/style%3E%3Cpath class='st0' d='M5.5 33.7h135V100H5.5z'/%3E%3Cimage width='167' height='131' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKcAAACDCAYAAADoKwvMAAAACXBIWXMAAAsSAAALEgHS3X78AAAA GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAF/xJREFUeNrsXYtu3LoOpGQnbc/9 /289bXYtXRwgBhjuDEl5n21lwNikTbJee0SRwyEpMo95zGMe85jHPP6Qo/zB19rn453gfPT1lQOg nECd4LzbdRXw78UBYObreUxwXnVNBQCzONfd1WsH/zYBOsF59fUU8LU99c9bUNqTAfZPfZ59gvO+ 1nI/q3ktxHpaQDbzasH6uz/EPz5ALC90DdZSVue0ALWgRKcG6u+8zZe/JUAsLwjMHXzL59cL+RqB 8z/wbep1U9+339SKlsR9OxogvvRnLy/w99A2roG4qtdVgbMCcGpAnj/PDQCVAfR3MSQsUIzAee9d 46Z/b30SsJmPqUGpAfn2ea7qtOBsBpSnz79xAu+3W9H9+1e0oCUIFkuCwegkWBTy2a/9/OWWgF1v eNOOgJhZTAvK989Tg3Qx4Nwt4+nz/O9nPoCfuoGHpx/Sq9JryCf3AkSPvejks498/p78/8MMwnqF tYu+HrGadiu3oPz2eWqA7tu7Buf5E5AfBJjFgLQrC9pf1HIWspCLEyAy9qIFdNuItRuxkv0ISNcr bpQk/J4Rq4mAuYPyOwDoCsB5+gTlL+OfMt60GcvRX9Bish0my2BEzMU1/C8DdXdchpJ9n/WKFSwJ 36ck/qbdzjUwv6vzhwGoBedZgfPN+KUeONuLBkcRMBfzmmUwmsNejAK0B/4tA2YKoOtBYEZnxora m737mdpi/lDA/KEA+m7At9/4fTtfHZ9MP+hNbe9Ht7d7B0EMmPb0GIxGWIssQHsCoD3hMgwBdL2B z4Mc9MgX1X9rCazmPwScbwCc759bOtrO7aI4qQeKfM9XspyVUGyrods8eu1sXrcrLGh3wNkEZ+mG ATricxbghCOfpyYAigKh3df8Zrby/fxH/fu7eiDa5/wwgRLj+fb3P3/+fCPgfKblZK7PYig1S6/p z94A74v4XwvQrPXshsrrn++P7mcbva/rgL+DLOUCAJqxoBacKwmCNEi/A3BWtfo2EMGjgMBaUPtw ns13RovY0mxvcpmgKOaza+5Xv2aSEz1hOa2V1M+/qc/QRgKkUSqJRYsLAagX0bNASAMUnZpOsuBk kSp6ABagrxYUFbKIV3O/LEAr4H81OHcO+GS2+ii9623nTYGvkJ9vI5H6USoJreZqVi2znlGUrgH6 Tsh3bSUWcI3d+KDIUjSwxb8iOIVs6RqY74BeqwScqwmi9vtSyfbeE8C0PqSQJId+9nelkmrAvRV1 g0pyq1qAZUBgZNTJfjPWzxv99nnj9fZ3Uv/fwMp+Fb4z62++gXMxgWJTHPDiJCZq0v/swJcsxsfs 5u92A8ybUEkZf6gEvmkJtqrFoUcWAHzGn5aAavH+JrIEr7itV4dSYrqDpqzjyOfq4H6gSLsaP7M4 z37oWJ9gDbLuQlZYjNJikVUv8vtUnkYGgYHVBiTWdWnGslbws9413X13GQVnJwBBedxKVps4WQT2 YNANLWQ78RZE9vqftbVHyiJ2XQy09h4uhGGJqgqiYChLwN8cnAxUFowFrCyW2tQ3zhMkNGe1278l wuuGMkr59iJEPEsTtwQQeoKSinajlgyMvPt6C2FJ2nIyMDYCXC+dWQCdszgZCwYiZGWa8zsboJYY Ef1KwZDIpRagDQCiJ54pui8tYT2jRR/VcN1sW0cXw7ZOD5jFbPuFAGULLByy1N0BqH0Pm857tgAE 8cAe3eXtKtXwit593JKLddR6Nrmy6mBNbOUdAMC7SSXJcXYDTmblog/ag60JlW6gPPP2AjxnMUCs gJKJTpsJ6+C+bgEwmSAmAmhGM5r2RdeEtWS14foGVPmaWxWHSigGyF6ON7PySsK/3BLnM31Oxlqw IC8SFzd1f3UKc3MW5iZxvp0ZA3FcscMB0hEqqROgVpCmKiBAEgWCJnGtuZAAYcSxb471eHZAhJiM EZFxBdt+M4uWAZIplJrkpITdWRhXFxHegudkjH8mGxBt00goYkl7m7aMlODRDXy01ewyXvCnM2iW HkKLlFWleq6TSE6ldLd7uN5pS/L8zYxI2XtAi3ko2hrXBO3Vk5bsGeQ6S1VmNAdIz9mcSLw5Wzdy mQoxSCVprB4CzihdmfE5mVjZS88hHWOVy8pJj1AWx0KJPDZ96W3dO9hQoR8Cp12onuVsCerME2p0 sDvpZIjNNB1e8OuB1Y3A5FUCRook1NHDq13X1qIaH3aTyzoaCUBZCf96i+zOyGJnmk0Nym8GoEhk bFX9nq9tr6MSdkYS0XoxVJaYGISxP8PgLMlAJMpdR6UebKtehatv3uWr+saqsEvC4lvrnJHMlTsC k1UFvImvadXb+f7gN7lUW7Egp5v3ZsDM+puax0bJmD4C0vXgjRxptJXRcq7k6zcCzDcDqk2+io2j 7Xx/7z5gNUuwgK+xtrbQz5ZH7xUAFpwLsJgdsCHIx0T3xBL+kqCRELVoAVwkJyg5BE6vLSFTw2cC nTXYylcATFs/1CSX/++Or+nVrmdq9MsgSHsCnF5FgL4HhWTsusQNzQTci+h+RFbTPoN6FKAjYuMo IGK1RIwSymgvV0KfvBFweA+kO/6VJLZzb7GxYCzbi6gIrgpAOwdrKiHytYtJpCPwJIYZYLKEjKev GGJEHik2ZoDOdpezqnjbscMCE+XOWxC59wRF5vUq8iyo1+HNo808obRXM8WqLVtiwbItvZAUZEQP HnJ9Hik2loBcZ90srC+6gO1YP5CTOc8OQPvAAqyJXeJIUy0BvngNHrQFuV2MZ3APRu5FGXBJ7sYJ XyM2vobozugOPWuhraXtLvcBTv2QrLChBb6mR5JnfG0WPNhMlfd7dosuAJz6s/8yn31/ZZWW2YRE DwLOHmQDbw5OL9howCGXwCerQaCSKT1mwPwFTg+gntUogJoqDv3lqcszQufu+M675bPZMJGvBWwf 5POfku5NxpiwRYaEH08RG3uCYyEOMfJBeoKDtMVtAoBpH8pP8oBOxnI0x/9DohUUuHiVoRKkEs/K EjbgOxfyuRcHnB8EmGeyIBmn3QkGmsTa2ZuIQI5s6wiYLQlMfaNr4HOhenhrNU8AnD/V+Qts7571 0NQOUqSzWnvrExeQJUFtwXVbHI8z1KBeDWneFfg+wHbOgBm18c5YzZbYDQ4rk0aV8CUgX7vjzBcD TM+XQxEqa7H94VjMaGtjVrMLz9tXwr9qegfluff33cGCou1IwX8G9wMFgx8kALJuGmuCYYHZ5FiJ BptgchU4vTRTcTgur4a5BvQJa6jAwHkmWxnyNTWlkqGUqhNNo454NjmAGmo14j8iBbtegBUAE/ne Z7nsicQ6nEiQehbBfY8YxzlSfXk3JXwhmQE5SM0sQSboDdBHnVgKFKFnOL4ebGXe9SIJm97aWfBW neBHQJBUCL8pjh97DrJBmf6eliE4C662jZibKBX6cJ6zJPLp9gF/M69vTg6Z8ZpHuE1JcptsMX0b ACfakjey1XtpxiJ+w7JNcNOySpIaaIeyAmWvJOYajcEhcEalAywDxHLvq8TtDr/LpSxsCWgWZiEZ XZW17CM9iqzfabf15fMaRXBjV8+/7k4OP/L5JNipVmMAKnEXTuKXxNQgGEZTS24umZOA/skAkzWI 3c/vypez6UrU67wFEXgFQgTP38ymUt8cK2SDqw2Ayf7uyUlNZuvPR10SNj7H9vWsgf8p4gtB7i6Z 83LkjJ9kUzL2bsX2/GGs576q2U1oiVRgFX9YFALnCoCJ/DTW9S7iSWvyb5Ug4vVy9SLxpBLb77SC oHORWPUl5PsqfObRzYUfkWQO3XikT9Tg/F8AzJpInRXHYotctnSR4PezAoySpNgi6V4E0IwqnekW 7K71Lpf6UGs5tbuB3AgE0EV4D4PhUo2jes7Rmp8MMP+X2NKjBWO3L+uvsQrDAnyzkYkVVmmeSV+y 1K29x01ypSddeLWqTRogjajVh25yWSWAgi77eapwrefT9ZzoZryr1WqBqa3mj6TV9B6AXhAWnJvw kgxP3GEb4nYTNOgHWgOaZUvk9lmg6c2tLI5bwwK5dxJ4dkNrrSZo01Z+A0aqyZP1nJntVFtNGwBp H/Mfs52vJD8t5AHYxYCKuKLBWBHbgLa2s6FdMppOG6VHCYGMGMMzHpEMUfvU1fi4kYQvU+otR2mm a3nOSOm+BADV1tJu5V5rQz3DCBXAMTGtzVdHO0JxaBtkMbML2k65YI2zRvuHsu3dmx9VHIpqdGbm TY9r9ZwZVbc3MvA7AWYBognUNtH+/U1y3Ssiy5OxfIVkS3rAcqBEQtTsINM3qjhZvKhvKUqdnskZ df+72TS8WzWP7QMARfXXbEw14/CsACOaSIakXiVIYbLDBj/bAItQSICBmmp5tVDRlu4FgQ3k+q3F 3YCIBGXh0LU9vXlsJ9kBLyvxFuSjK8nTR3/3PbH1oN6eUT4dBSeWJmoOxYJ840LSsCNd8DLgtNJE 1p9UB0B2Gh4ScHu6hYz1f4ieU1ufmngo3uSxhVhM9rW2mkfbbG+ChzZlCvii97H3gUWy3QFoS4Kz k8Wkf6bKpbJJZ3ysz4zEy6j04yS5ArqH6jllwHIWQMZHYgNvLDLqAy/Ce4iyHp2L8A7JkWqH8Zxs QhzzCRmhjdKyR7Z13f+0KmBqkYnO+9tiQb2l/wJb/DnpLz9Uz3nU50Q5aCSQEPHreopcquMzPTrR VlmJu8Dq5hfzIFmg1RNWuAfWOAo4PMspyncshpO06qcml0O1rNrrw/E3PUL+4XrO6KjAYi6Sk2gx H1PIw40KyqKuF5YQtulWNB2tyGVRn3U5uvhVpGK23cy4lS68WpQNrfJ2EA1INCszkiJ6CrCX0XMi Hm0RrBtk6nb2MAoAfSX/7rX/a+RmWiuGmIU3h03YzOffCN3lDa/qJDV6S21kJwtW5HLKMKp9z0oS H8pzloE0Zkb/GFlNtG1VQvIXicuWvSEIyNJpBuBdcPuXYnxtNFRABEvukOpHf51p1lAFayOjRIJ3 n4SAM8MWIDflaXpOD5Be+8I1IaBAfGbUsH9kmoatp9Hd5iw4v4nfm8j6bxWAHnUrEcC1buLP5kTZ sohKyo5pRPxtS4BRf2Y7D8ArBX9YC8SoVfRbYkvvDk9YkpZdB0q7UGFTWSM2NQOBE3US3q8dBRFo Sggqh7DTfK2wAulFN3N9JRkQMQFLAWDPkuNewWJ34hVmOe+SW4+Amamk9JoOsAHyUVUfYgg2k9rU ABUDaAROViqyia+0KSQItPNAW2AtF0P1lKTltBpR2ygXZayi523H+NhxMszPrXKwT/w99JxeELRI XK/dQXajGF9NhAtgvfTmmWzt+j3e5LKbB+o/380i7cTf1L9fjeVlbcvtPY1ExlHnaM+PlSAzhrJO XXhfUCH+/N31nNH2USXXhIv5O7axldViMh6R+asohWo7YAjY5heQbvS6JmcGWUWDFHoSGDJgOUfG eUd1Yqimv4EFx4DJdpmbb+tRxO7dGJQJQo30WflDJauQzeX0WIRNLptCIMCj7h2IhLb3BXGqMpg7 j1oryoGf7QHT4f1dxIGXxHu/RH/OEnwgj8JgzQT0tl8l1wOTWVG2aHQ60wqHGVFtGxiIcCWQTRGe Hswjep0BvWZcTxtWe6sJbpLIELDiL0aQa8u3ydeSgMg6eAVlXpoTPagzIM/RLMkOaCTU3wi100Gd 8K4FagusGmq5GOk028AzHmECDoOzS6yxzLTFYxMdmhOssMgz2+o6K6PbjA+qhRKocVYjALKuBGIo rJg3anTL2mRnGvCyBYvoJNY1JLKmrHDv6f05u/Chp95ZQKaEWSEUdEV95yXYrlBjrTMBGGuc1YQP AGClvgIWpJfDzowAZP5hMxmpCjJbQoLSSMyRkSY+vD+nBNYnK55lanBmPVmHYzamEN1w1lJQg2ID 74tqx5mULWPtUZGb1Uae5avavgEXKhOkNgPOFgSoLOWL4oRI0+pNgL45OLNbI5tQG4FzA9aTPWxL UbHpbd7M9bPZWrX17MI7HHuWIpNCzEz+uMbXtL037VZexRdPR/4mYlu8FtyHpwlfo+dsajWiNnxn 5/tKtl2UA7epyZ2UXshD6UnLaZU3H2BhSED4N+H98L3GrD3p4zUZL8wTkC5s4vesF8d/jIAW+Z4s cA79z6N6Tm/VZLb3GtwU1D1DAzI766YPWM+zfG3LnZ0R73VIHgGCB4pMINEDHlIAce6pwth1eNaz B4zJ0/pz9gQYNrksMos+FGoXEw1oEkDyt2DRoNLXLG0WpRIl4HsZ4zEa4aI56N1wtVXwKEJJRNkv xXMemcDlNTT1Sg1G3yfTNlokJzz2ggCReP4jA2fErzJAjFYfjDwvJlU7OjGZpSWfruc8WsPTBE+q rcJFHl5qlJVAHJn6kMmdZxx82+DA66vujcC5RaZOkmlNLwfuvVp3QQQXDz68P2cGoIxOQotgEd5c n0nzbAYmuoYoEs40zepJS1UcC8OsyjXdMkoA0Mw1RYAU4np5I38e0p+TOfweb7YBqgSJdasKfKxl rXLZeMrW5hThpbae0MLzX9msx0wLmmjbE8eq3uooB7Z8SQQxmZE/T9NzehOCRXjvdjtNAgEUWRev XBdpLbvDIW6CJ2qwWh0JttoRv7kMWMV+JSCz30vSYmdGWov4s9Yf3p/TA6YWOCwATIvg3pK2wpKV PVhf06siZMIKEV8gctRSSgLQRR5zlMGfiUbgeHnzp+g5MxpBazFPgsdR7z+Hpk+IcFV3pvuGN6OI CSv6gJUrVwDk0aAcBemR63tZPaf1PTa5HAhlc8vaF30DFjViCFipBwIlGzUYzSu6h//3VN7wymt4 eT1nT1jLfdIX28o0MPfCM7ZVez2RkHDWaiR/Cp+J+SF4xHUbzWT8xkc58Bk7IPdHxgveFJydBBs6 y7OZVxbNsdThu+BiOAEWF2VddNs+O6j1X/P6U1lVpITqfzggb2ExR0QfLaCkrracllC2I63tWGam 9TwLl4ntzQt2PzQSq6I2Ktpi6vNf870eb42GB0xw5iN59Lw9LvkuPCcqHtP/twBALsIFFh7FswMU fbAGIvR9S/8wFvNfAMxfxmpmOqPNI47aowqI4UW/JiylPrR4FVkb3ahUay9RX3HW+c1TUDcSpevZ 69a//Ams5of4gwJkAnTY/2StvaOe9v1ay2k1kiw4qcYP1blvlCViA6MYjWPB2Ym/ORII3TtC/xss pwjvvX9Y6bQm/cwivE2Mfm2C69i9Zloi/oDXYvxMNG88ahOtOU4bCDFN5gTquPXMVmWmDEFWbIwA ioQLIrzRAmuasGd+zs5W72k/NTgz59kEQ21azZv6niJc5TUUsY9SSUV4ukoIQFG1XwHbPcvU2A9q R6swVXt0Zvusz+NYBJ95vTmVlAEum+6gRRxZZRArXPOK4zJjU9j7T5De1heVo/d3PfDGJSBmkRpa +4fMQrIBr0jcIcInUHgq95GJY/MYs5pZqyr3ACcCoQTbPNuaGSiRmBh13BDihGfbqXj1OhOkjwXx TcHJ3rQMrppML3nUdFUEzyDPAHV00Ok8HgTEW4PTu7Bsqz7UzxNZT2s1o3mcGTHCoQhyHo871juu oCJ+9WBx/Eyk3URd0bwGsqOjmCcwX+yoT3hPr9zDazybGSaFgBnNYZygnOCkQL3WQnvNtTwp3IzQ /9Jt/Yif6vmNUWS+Bd/ffFD9PP4scGZBZkl1MQGRN/bZtsIe6TQyj78QnMz6eV3f7GgV1o89Sk9u ZGufwPzLwemR8VE7Qt3cfwVROiv5PQUAndZzgnMoeNFFaatcTp3Qg+uRCglJ4kYqKydAX/RYHkQb SZI2Qm37vDbZqPzXgpWJm+cxwXnx6vVz14cNlE7GylpBsf2a1aZPv3Nu69D/ZFt6kctx0e/K/6wk Ytf93H8BYG4Sc53z+EvBiWYYaXCi6bUauFb4ocGrA6kPY1E9n3MeE5wXILUA3cF5Iv+nKSVb0NYE j0pBzbqi9OU8/mJwMuvJonlkNa3lZFQU4zqvKu6fx99BJYkB5t4pBIETNffqJFhiJRqj41Lm8UJH ecJ72UjdDr+yg7CirsnRPJ8pLJ7gHKaVEKXExgdeO8dnAnOCcxigaIqG12vegjM7y2cCc4Jz+D1L 4hThHYZH5n5PYE5wHgKoCB9NHTXXj+qCJjAnOG8K0uy1jYwmmccE502uw2t4nylOm6Cc4Hyp65mA nOB8meubYJzHPOYxj3nM48vxfwEGAC9EgxP3FUfiAAAAAElFTkSuQmCC' transform='translate%28-5 14%29' overflow='visible' opacity='.35'/%3E%3Cpath class='st1' d='M5.5 33.7h135v1H5.5zm0 16.3h135v1H5.5zm0 16.3h135v1H5.5zm0 16.4h135v1H5.5zm0 16.3h135v1H5.5z'/%3E%3Cpath class='st2' d='M30.8 92.2c-1-1.7-1.7-3.5-2.2-5.4-.4-1.9-.5-4.1.1-6.2.3-1 .8-2 1.5-2.9.7-.9 1.4-1.7 2.3-2.3.9-.7 1.8-1.2 2.7-1.6.2-.1.5-.2.7-.3l.4-.1.2-.1h.2l.2-.1.3-.1c.2-.1.3-.1.5-.1.3-.1.6-.1.9-.1 1.2-.1 2.3 0 3.5.3 1.2.3 2.3.8 3.3 1.6 1 .7 1.8 1.6 2.4 2.6.6 1 1.1 2 1.4 3 .7 2.1.9 4.1.9 6.1V88c0 .5 0 1-.1 1.5v1.2l-.1.4c-.1.5-.2 1.1-.4 1.6-.6 2.1-1.8 3.9-3.3 5.4-1.5 1.5-3.1 2.7-4.8 3.7-.2.1-.4.3-.6.4l-.3.2h-.1l-.2.1-.2.1c-.5.2-1 .4-1.4.5-.9.3-1.9.5-2.9.7-1.9.3-4 .5-6 .2s-4.1-1-6-2.2c-1.8-1.2-3.3-2.9-4.4-4.7-1.1-2.1-1.9-4.1-2.4-6.1s-.8-3.9-1-5.9v-.2c0-1.5.1-3.1.4-4.7.3-1.6.8-3.1 1.4-4.5.6-1.4 1.3-2.8 2-4 .8-1.3 1.5-2.5 2.4-3.7l1.3-1.7 1.3-1.7c.9-1.1 1.8-2.2 2.7-3.2.9-1 1.8-2.1 2.8-3.1l1.4-1.5.2-.2c.1-.1 0 0 0 0 .1-.1.1-.2.2-.3.2-.2.4-.5.5-.7.7-1 1.5-2.1 2.2-3.2.7-1.1 1.4-2.2 2-3.4 1.3-2.3 2.4-4.7 3.2-7.1.9-2.4 1.4-4.9 1.4-7.3 0-2.4-.8-4.5-2.4-6l-.1-.1-.2-.2c-.1-.1-.3-.1-.4-.2-.3-.1-.5-.1-.8 0-.5.2-1.2.8-1.7 1.7-.5.9-.9 2-1.1 3.2-.3 1.2-.5 2.4-.6 3.6-.3 2.4-.3 5-.3 7.5.1 2.5.2 5.1.4 7.6s.5 5.1.9 7.6c.2 1.3.4 2.5.5 3.8l.3 1.9.3 1.9c.7 5.1 1.5 10.2 2.2 15.3l2.3 15.3 1.1 7.6.3 1.9c.1.8.1 1.4.2 2.1.1 1.3 0 2.7-.1 4-.1 1.3-.3 2.7-.6 4-.3 1.3-.8 2.7-1.6 3.9-.7 1.2-1.8 2.4-3.2 3.1-1.4.7-2.9.9-4.4.9-.7 0-1.4-.2-2.1-.3l-.5-.1h-.3c-.1 0-.2-.1-.3-.1-.5-.2-.8-.4-1.1-.7-1.3-1-2-2.4-2.5-3.8-.4-1.4-.5-2.9-.3-4.4.3-1.5.9-2.9 1.7-4 .4-.6 1.2-.7 1.8-.3.6.4.7 1.2.3 1.8-.7.9-1.1 1.9-1.3 3-.2 1.1-.1 2.2.2 3.2.3 1 .9 2 1.6 2.6.4.3.6.4 1.2.5.6.1 1.1.2 1.7.2 1.1.1 2.2-.1 3.1-.6.9-.5 1.7-1.2 2.2-2.2 1.1-1.9 1.6-4.4 1.8-6.8.1-1.2.1-2.5 0-3.7 0-.6-.1-1.3-.2-1.8l-.3-1.9-1.2-7.6-2.4-15.2c-.8-5.1-1.6-10.2-2.5-15.2l-.3-1.9-.3-1.9c-.2-1.3-.4-2.6-.6-3.8-.4-2.6-.7-5.1-1-7.7-.3-2.6-.5-5.2-.6-7.8-.1-2.6-.1-5.3.1-7.9.1-1.3.3-2.7.6-4 .3-1.4.7-2.7 1.4-4.1.4-.7.8-1.4 1.4-2 .6-.6 1.4-1.2 2.3-1.6.9-.4 2-.4 3-.2.5.1 1 .3 1.4.5.4.2.9.5 1.3 1l-.1-.1c1.2 1.1 2.3 2.5 2.9 4 .7 1.5 1 3.1 1.1 4.7.1 1.6 0 3.1-.2 4.6-.2 1.5-.5 2.9-.9 4.3-.7 2.8-1.7 5.5-2.9 8.1-.6 1.3-1.2 2.6-1.9 3.9-.7 1.3-1.4 2.5-2.2 3.8-.2.3-.4.6-.6 1-.1.2-.2.3-.4.5l-.3.3s-.1.1 0 0l.2-.3-1.3 1.6c-.9 1-1.7 2.1-2.6 3.1-.4.5-.8 1-1.2 1.6-.4.5-.8 1-1.2 1.6l-1.2 1.6-1.2 1.5c-.7 1.1-1.5 2.1-2.1 3.2-.4.5-.6 1.1-1 1.6-.3.5-.6 1.1-.8 1.6-.5 1.1-.9 2.2-1.2 3.2-.3 1.1-.5 2.2-.6 3.5v-.2c0 1.7.1 3.4.4 5 .3 1.6.7 3.2 1.3 4.6.6 1.4 1.5 2.6 2.7 3.6.6.5 1.2.9 1.9 1.2.7.3 1.4.6 2.2.7 1.6.3 3.2.4 4.9.2.8-.1 1.7-.3 2.5-.5.4-.1.8-.2 1.2-.4h.1s-.1.1-.1 0h.1l.3-.1.6-.3c1.5-.9 2.7-2 3.6-3.3.9-1.3 1.5-2.8 1.8-4.2.1-.4.1-.7.2-1.1v-.5.1V88c0-.4 0-.8-.1-1.3-.1-1.7-.5-3.3-.9-4.7-.5-1.4-1.2-2.6-2.1-3.4-.9-.8-2.2-1.2-3.5-1.2h-1s.1 0 0 0h-.2l-.3.1c-.2.1-.4.1-.6.2-.7.3-1.5.6-2.1 1-1.3.8-2.3 1.8-2.9 3.2-.6 1.4-.8 3-.7 4.7.1 1.7.5 3.4 1.1 5v.1c.2.4-.1.9-.5 1-.4-.1-.8-.2-1-.5z'/%3E%3Ccircle class='st2' cx='30.3' cy='113.5' r='3.8'/%3E%3Cpath class='st2' d='M86.5 60.3v-2.2h-18v21.3c-.9-1-2.4-1.7-4.1-1.7-2.8 0-5.1 1.8-5.1 4.1s2.3 4.1 5.1 4.1c2.5 0 4.6-1.5 5-3.4h.1V63.1h16.1v16.3c-.9-1-2.4-1.7-4.1-1.7-2.8 0-5.1 1.8-5.1 4.1s2.3 4.1 5.1 4.1c2.5 0 4.6-1.5 5-3.4h.1l-.1-22.2zm36.5 1.8c-2.8 0-5.1 1.8-5.1 4.1 0 .3 0 .6.1.8v21.1h1V68.7c.9 1 2.4 1.6 4 1.6 2.8 0 5.1-1.8 5.1-4.1s-2.3-4.1-5.1-4.1zM114.6 38c-.3-.8-.6-1.4-1-2.1l-.3-.5-.3-.4c-.2-.3-.5-.6-.7-.9l-1.5-1.5c-1-.9-1.9-1.7-2.7-2.3-1.7-1.3-2.9-2-2.9-2-.2-.1-.4-.1-.6 0-.1.1-.1.2-.2.3v19.8c-.9-.8-2.2-1.3-3.7-1.3-2.8 0-5.1 1.8-5.1 4.1s2.3 4.1 5.1 4.1 5.1-1.8 5.1-4.1c0-.6-.1-1.1-.4-1.6V30.2c.4.4.8.9 1.4 1.5.7.7 1.5 1.6 2.4 2.5.4.5.9.9 1.3 1.4.2.3.4.4.5.7l.6.8c.7 1 1.1 2.1 1.1 3.1 0 .9-.5 1.7-1.1 2.3-.7.6-1.4 1-1.9 1.3-.5.3-.8.4-.8.4-.2.1-.3.3-.3.5 0 .3.3.5.5.5 0 0 .4 0 1-.2.6-.1 1.5-.4 2.5-1 .5-.3 1-.8 1.4-1.4.4-.6.8-1.4.8-2.2.1-.8 0-1.7-.2-2.4z'/%3E%3C/svg%3E");

  }  

  .two_text{
    margin:20px 0 30px 0;
  }

  .main_name{
    color: $color4;
    text-decoration: none;
    font-size:30px;
    font-weight:bold;
    letter-spacing: 0.3rem;
  }

  .text_name{
    color:$color4;
    font-size:0.94rem;    
    line-height: 27px;
    overflow: hidden;
    padding-top: 10px;

  }

}    
