@import "_var";
@import "_normalize";
@import "_recet";
@import "_nav";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

//header

#header{ //如果沒有寫height:100vh其 header外層要+width:100%
    width:100%;
    height:100vh;
    background-image:url(../img/index/bg-32.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;//給遮罩做定位
    z-index:1;
    color:white;
    //遮罩
    &::before{
        content: "";
        background: linear-gradient(0deg,transparent 0,#000 100%);//漸層.線性
        width:100%;
        height:50%;
        opacity: 0.55;
        //寬高會滿版
        display: block;
        position:absolute;
        //before.after為行內元素要改成塊及元素
        //定位absolute跳出結構
        z-index:-1;
         //父層設z-index:1 子層設z-index:-1才可以使背景覆蓋上遮罩且文字不被遮住
        }

    &::after{
        content: "";
        background-color: rgba(0,0,0,.3);
        width:100%;
        height:100%;
        display: block;
        position:absolute;
        top:0;
        left:0;
        z-index:-2;
        //z-index不可設0，不然會使文字無法拖曳
    }    

     }

    
